*{
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
}

.App {
  font-family: "Poppins", sans-serif;
}
form {
  width: 40% !important;
  margin-left: 30%;

}


img {
  width: 50%;
}

.input {
  border-radius: 6px;
  outline: 1px;
  /*border: ;*/
}